# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual envs
venv/
.env/

# Logs
*.log
nohup.out

# Large data
embeddings_output/
intermediate/
outputs/
inputs/
data/

*.npy
*.index
*.parquet
*.csv
*.mbox
*.db
*.zip
*.gz

# OS / IDE
.DS_Store
.vscode/
.idea/